@page "/payees"
@inject IDatabaseProvider DatabaseProvider
@inject ConfirmService ConfirmService

<h1>Payees</h1>

<div class="toolbar">
    <a class="btn" href="/payees/create">Create payee</a>
</div>

<Repeater Items="@database?.Payees.OrderBy(c => c.Name)">
    <RepeaterContainerTemplate>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Default category</th>
                    <th></th>
                </tr>
            </thead>
            @context
        </table>
    </RepeaterContainerTemplate>

    <ItemTemplate Context="payee">
        <tr>
            <td>@payee</td>
            <td>@payee.DefaultCategory</td>
            <td class="commands">
                <Dropdown>
                    <DropdownItem><a class="view-transactions" href="/payees/@payee.Id/transactions">View Transactions</a></DropdownItem>
                    <DropdownItem><a class="edit" href="/payees/@payee.Id/edit">Edit</a></DropdownItem>
                    <DropdownItem><button type="button" class="btn-link" @onclick="() => Delete(payee)">Delete</button></DropdownItem>
                </Dropdown>
            </td>
        </tr>
    </ItemTemplate>
</Repeater>

@code {
    Database database;

    protected override async Task OnInitializedAsync()
    {
        database = await DatabaseProvider.GetDatabase();
    }

    private async Task Delete(Payee payee)
    {
        if (await ConfirmService.Confirm($"Do you really want to delete '{payee}'?"))
        {
            database.RemovePayee(payee);
            await DatabaseProvider.Save();
        }
    }
}