<table class="bigtable">
	<thead>
		<tr>
			<th>Account</th>
			<th>Minimum</th>
			<th>Maximum</th>
			<th>Start balance</th>
			<th>End balance</th>
			<th>Diff</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var group in Model.BalancesByAccount.GroupBy(i => i.Currency))
		{
			var entry = new Meziantou.Moneiz.Core.Analytics.BalanceHistoryEntry
			{
				Currency = group.Key,
				StartBalance = group.Sum(g => g.StartBalance),
				EndBalance = group.Sum(g => g.EndBalance),
				MinBalance = group.Min(g => g.MinBalance),
				MaxBalance = group.Max(g => g.MaxBalance),
			};

			if (ShowDetails || entry.StartBalance != 0 || entry.EndBalance != 0)
			{
				<BalanceHistoryRow Entry="entry" />

				@foreach (var account in group.OrderBy(e => e.Account?.SortOrder ?? 0))
				{
					<BalanceHistoryRow Entry="account" />
				}
			}
		}
	</tbody>
</table>

@code {
	[Parameter]
	public bool ShowDetails { get; set; }

	[Parameter, EditorRequired]

	public Meziantou.Moneiz.Core.Analytics.BalanceHistory Model { get; set; } = null!;
}