<p>
	<span class="version-text" title="@(MoneizAppContext.BuildDate)">Moneiz v@(MoneizAppContext.Version) built on @(BuildDateAttribute.Get()?.ToString("yyyy-MM-dd"))</span>

	@if (isUpdateAvailable)
	{
		<a href="javascript:MoneizUpdate()" class="new-version-available"><i class="fas fa-sync"></i> Update to the latest version</a>
	}
	else
	{
		<a href="javascript:MoneizUpdate()"><i class="fas fa-sync"></i> Force update</a>
	}

	<a href="https://github.com/meziantou/meziantou.moneiz/blob/main/doc/search-query-language.md" target="_blank"><i class="fa fa-question-circle"></i> Help</a>
	<a href="https://github.com/meziantou/meziantou.moneiz/issues" target="_blank"><i class="fas fa-lightbulb"></i> Suggest features</a>
	<a href="https://github.com/meziantou/meziantou.moneiz/issues" target="_blank"><i class="fas fa-bug"></i> Report issues</a>
</p>

@implements IDisposable

@code {
	private bool isUpdateAvailable;
	private System.Threading.Timer? timer;

	protected override async Task OnInitializedAsync()
	{
		timer = new System.Threading.Timer(CheckForUpdateAvailability, state: null, TimeSpan.FromSeconds(60), TimeSpan.FromMinutes(5));
		await RefreshUpdateAvailability();
	}

	public void Dispose()
	{
		timer?.Dispose();
	}

	private void CheckForUpdateAvailability(object? state)
	{
		InvokeAsync(RefreshUpdateAvailability);
	}

	private async Task RefreshUpdateAvailability()
	{
		isUpdateAvailable = await GlobalInterop.HasUpdateAvailable();
		StateHasChanged();
	}
}