@inject NavigationManager NavigationManager
@implements IDisposable

<a href="@GetUrl()" @attributes="@LinkAttributes">@ChildContent</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Account Account { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> LinkAttributes { get; set; }

    private string GetUrl()
    {
        return $"/transactions/create?accountId={Account?.Id}&returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}";
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }
}