@inject IDatabaseProvider DatabaseProvider

<a @onclick="() => OnClick()">@ChildContent</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private async Task OnClick()
    {
        await DatabaseProvider.Export();
    }
}