@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<header class="site-header">
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="navbar-brand-img" alt="Logo" src="images/moneiz_24x24.png" asp-append-version="true" />
                <span>Moneiz</span>
                <span class="beta">beta</span>
            </a>

            <ul class="navbar-nav">
                <li><a asp-area="App" asp-controller="Transaction" asp-action="Create" asp-route-returnUrl="@NavigationManager.Uri"><i class="fa fa-plus-circle"></i> Create a transaction</a></li>
            </ul>

            <ul class="navbar-nav navbar-nav-right">
                @* TODO toggle fullscreen **@
                <Dropdown MenuText="My account" MenuIcon="fa-caret-down">
                    <DropdownItem><a href="/database">Import/Export database</a></DropdownItem>
                </Dropdown>
            </ul>

        </nav>
    </div>
</header>

<div class="grid-container container">
    <NavMenu />

    <main class="site-main">
        @Body
    </main>
</div>
