@inject SettingsProvider SettingsProvider
@if (Date.HasValue || DateTime.HasValue)
{
    <span title="@FormattedLongDate()">@FormattedShortDate()</span>
}

@code {
    MoneizDisplaySettings displaySettings;

    [Parameter]
    public DateOnly? Date { get; set; }

    [Parameter]
    public DateTime? DateTime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        displaySettings = await SettingsProvider.GetDisplaySettings();
    }

    private string FormattedLongDate()
    {
        if (Date != null)
            return Date.Value.ToLongDateString();

        if (DateTime != null)
            return DateTime.Value.ToLongDateString();

        return "";
    }

    private string FormattedShortDate()
    {
        if (Date != null)
            return displaySettings?.DateFormat == null ? Date.Value.ToShortDateString() : Date.Value.ToString(displaySettings.DateFormat);

        if (DateTime != null)
            return displaySettings?.DateFormat == null ? DateTime.Value.ToShortDateString() : DateTime.Value.ToString(displaySettings.DateFormat);

        return "";
    }
}