@page "/categories"
@inject DatabaseProvider DatabaseProvider

<h1>Categories</h1>

<div class="toolbar">
    <a class="btn" href="/categories/create">Create category</a>
</div>

<Repeater Items="@database?.Categories.OrderBy(c => c.GroupName).ThenBy(c => c.Name)">
    <RepeaterContainerTemplate>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="text-align: right"># Transactions</th>
                    <th></th>
                </tr>
            </thead>
            @context
        </table>
    </RepeaterContainerTemplate>

    <ItemTemplate Context="category">
        <tr>
            <td>@category</td>
            <td style="text-align: right">@database!.Transactions.Count(t => t.Category == category)</td>
            <td class="commands">
                <Dropdown>
                    <li><a class="view-transactions" href="/categories/@category.Id/transactions"><i class="fas fa-search"></i> View Transactions</a></li>
                    @if (category.GroupName != null)
                    {
                        <li><a class="view-transactions" href="/category-group/@(Uri.EscapeDataString(category.GroupName))/transactions"><i class="fas fa-search"></i> View Transactions with category group '@category.GroupName'</a></li>
                    }
                    <li><a class="edit" href="/categories/@category.Id/edit"><i class="fas fa-pencil-alt"></i> Edit</a></li>
                    <li><button type="button" class="btn-link" @onclick="() => Delete(category)"><i class="fas fa-trash" style="color: red"></i> Delete</button></li>
                </Dropdown>
            </td>
        </tr>
    </ItemTemplate>
</Repeater>

@code {
    Database? database;

    protected override async Task OnInitializedAsync()
    {
        database = await DatabaseProvider.GetDatabase();
    }

    private async Task Delete(Category category)
    {
		Debug.Assert(database != null);
        if (GlobalInterop.Confirm($"Do you really want to delete '{category}'?"))
        {
            database.RemoveCategory(category);
            await DatabaseProvider.Save();
        }
    }
}