:root {
    --container-width: 1200px;
    --navbar-height: 50px;
    --navbar-margin: 0px;
    --navbar-padding: calc(var(--navbar-height) + var(--navbar-margin));
    --color-error: #a94442;
    --font-size: 14px;
    --font-size-small: 12px;
}

body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

h2 {
    font-weight: normal;
}

.empty-list-page {
    text-align: center;
}

ul {
    -webkit-padding-start: 0;
}

li {
    line-height: 1.4;
}

a {
    color: #337ab7;
}

ul.unstyled > li {
    list-style: none;
}
