.bigtable-categoryname {
  padding-left: 20px;
}

.bigtable-categorygroup,
.balancehistory-currency {
  background-color: rgb(221, 221, 221);
}

.bigtable thead th {
  text-align: center;
  vertical-align: bottom;
}

.bigtable tbody td {
  vertical-align: middle;
}

  .bigtable tbody td:not(.bigtable-categoryname):not(.bigtable-categorygroupname) {
    text-align: right;
  }


tr.bigtable-totals {
  border-top-style: double;
  border-top-color: black;
}

td.bigtable-totals,
th.bigtable-totals {
  border-left-style: double;
  border-left-color: black;
}

.bigtable .details > span {
  display: block;
}
