.dropdown-toggle {
  display: block;
  cursor: pointer;
  padding: 0;
  color: var(--text-color);
  white-space: nowrap;
  background: none;
  border: none;
  text-align: left;
  text-decoration: none;
}

  .dropdown-toggle:focus,
  .dropdown-toggle:hover,
  .dropdown-toggle:focus,
  .dropdown-toggle:hover {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--hover-bg);
  }


.dropdown-content {
  position: absolute;
  transform: translateX(-100%);
  background-color: var(--table-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 0;
  margin: 0;
  border: 1px solid var(--border-color);
}

  .dropdown-content li {
    list-style: none;
    text-align: left;
    padding: 5px 10px;
  }

  .dropdown-content a,
  .dropdown-content .btn-link,
  .navbar .dropdown-content a {
    padding: 3px 20px;
    color: var(--text-color);
    white-space: nowrap;
    display: block;
    background: none;
    border: none;
    text-align: left;
    text-decoration: none;
  }

  .dropdown-content .btn-link {
    width: 100%;
    cursor: pointer;
  }

    .dropdown-content a:focus,
    .dropdown-content a:hover,
    .navbar .dropdown-content a:focus,
    .navbar .dropdown-content a:hover,
    .dropdown-content .btn-link:focus,
    .dropdown-content .btn-link:hover {
      text-decoration: none;
      color: var(--text-color);
      background-color: var(--hover-bg);
    }
