label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input:not([type=checkbox]),
select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 34px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
}

  input:not([type=checkbox]) .invalid,
  select .invalid {
    border-color: var(--color-error);
  }

.form-group {
  margin-bottom: 15px;
}

button[type=submit] {
  width: 100%;
}

.validation-errors {
  color: var(--color-error);
  padding: 0;
}

.validation-summary-errors li {
  list-style: none;
}
