.transaction-state {
    padding-left: 0;
    padding-right: 0;
}

.btn-transaction-unchecked,
.btn-transaction-checked,
.btn-transaction-reconciliated {
    font-family: "FontAwesome";
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

    .btn-transaction-unchecked::before {
        content: "\f096"; /*fa-square-o*/
    }

    .btn-transaction-checked::before {
        content: "\f046"; /*fa-check-square-o*/
    }

    .btn-transaction-reconciliated::before {
        content: "\f14a"; /*fa-check-square*/
        cursor: default;
    }

.toolbar-left {
    float: left;
}

.account-balance {
    float: right;
}

    .account-balance > div {
        display: flex;
        margin-bottom: 4px;
    }

.account-balance-title {
    font-weight: bold;
    margin-right: 5px;
    flex-grow: 1;
}

.toolbar:after {
    content: "";
    display: table;
    clear: both;
}

.row-navigation {
    text-align: center;
}


.amount-currency ~ .amount-value {
    margin-left: 3px;
}

.amount-positive {
    color: green;
}

.amount-negative {
    color: red;
}
