.transaction-state {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.btn-transaction-status {
  font-size: 16px;
  cursor: pointer;
}

.toolbar-left {
  flex-grow: 1;
}

.account-balance > div {
  display: flex;
  margin-bottom: 4px;
}

.account-balance-title {
  font-weight: bold;
  margin-right: 5px;
  flex-grow: 1;
}

.account-balance-actions {
  justify-content: flex-end;
}

.toolbar {
  display: flex;
}

.row-navigation {
  text-align: center;
}

.amount-value {
  font-variant-numeric: tabular-nums;
}

.amount-currency ~ .amount-value {
  margin-left: 3px;
}

.amount-positive {
  color: green;
}

.amount-negative {
  color: red;
}

.transaction-list {
  margin-bottom: 100px;
}

  .transaction-list tr {
    height: 38px;
  }

  .transaction-list td {
    white-space: nowrap;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
