.site-sidebar {
    background: var(--hover-bg);
}

    .site-sidebar nav li {
        list-style: none;
    }

    .site-sidebar nav a {
        display: block;
        text-decoration: none;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

        .site-sidebar nav a:hover {
            background-color: var(--border-color);
        }

    .site-sidebar a .fa,
    .site-sidebar a .fas {
        color: var(--text-color);
        width: 30px;
    }

.widget-accounts {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

    .widget-accounts li {
        display: flex;
    }

    .widget-accounts a {
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
