.site-sidebar {
    background: var(--hover-bg);
    border-radius: 8px;
    margin-top: 15px;
}

    .site-sidebar nav li {
        list-style: none;
    }

    .site-sidebar nav a {
        display: block;
        text-decoration: none;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

        .site-sidebar nav a:hover {
            background-color: var(--border-color);
        }

    .site-sidebar a .fa,
    .site-sidebar a .fas {
        color: var(--text-color);
        width: 30px;
    }

.widget-accounts {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

    .widget-accounts li {
        list-style: none;
    }

    .widget-accounts-summary {
        display: flex;
    }

    .widget-accounts li.active .widget-accounts-summary {
        font-weight: bold;
    }

    .widget-accounts-details {
        font-size: var(--font-size-small);
        padding-left: 15px;
        margin-bottom: 4px;
    }

        .widget-accounts-details > div {
            display: flex;
        }

    .widget-accounts-details-title {
        flex-grow: 1;
        margin-right: 5px;
        white-space: nowrap;
    }

    .widget-accounts a {
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
