table {
  border: 1px solid var(--border-color);
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: var(--table-bg);
  border-collapse: collapse;
  border-spacing: 0;
}

thead th {
  border: 1px solid var(--border-color);
  vertical-align: bottom;
  border-bottom-width: 2px;
  border-top: 0;
}

th, td {
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid var(--border-color);
  vertical-align: top;
}

  td.commands {
    cursor: pointer;
    width: 20px;
    text-align: center;
    padding: 0;
  }

    td.commands > .dropdown-toggle {
      padding: 8px;
    }
